$highlight-background   : #f7f7f7;
$highlight-foreground   : #4d4d4c;
$highlight-comment      : #8e908c;
$highlight-red          : #c82829;
$highlight-orange       : #FF5B60;
$highlight-yellow       : #eab700;
$highlight-green        : #05B779;
$highlight-aqua         : #3e999f;
$highlight-blue         : #34ACFC;
$highlight-purple       : #F360EB;